table tr td{
    font-size: 80%;
}
th{
    font-size: 85%;
}
.borders{
    padding: 20px;
}
div.ColVis{
    float:left;
}
ul.ColVis_collection{
    width: auto;
}
.unknown_genes{
    display: none;
    margin: 1em;
    padding: 0.8em;
}
.unknown_genes span{
    font-weight: bold;
}
#dropdownMenu1{
    margin-right: 25px;
}
.dropdown-menu{
    margin-right: 15px;
}
dtable.dataTable tbody th,
dtable.dataTable tbody td {
    white-space: nowrap;
}
.pageheader{
    display: flex;
    align-items: center;
}
#headingOne{
    text-align: right;
}
#collapseOne .panel-body{
    text-align: center;
}
#adv_search_reset{
    float: right;
}
#adv_search_button{
    float: right;
}