.checkbox-inline{
    cursor: default;
}
.styling{
    font-size: 18px;
    padding-left: 0;
    float: bottom;
    padding-left: 150px;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
