{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div style="position:fixed;top:50%;left:50%;transform:translate(-60%,-105%)">
        <img src="{% static "images/xcrab.png" %}" alt="logo" style="float:left">
    </div>
    <div style="position:fixed;top:50%;left:50%;transform:translate(-50%,-40%)">
        <h2>Sorry, page you are looking for does not exist on this server.</h2>
    </div>
{% endblock %}
