{% load staticfiles %}

{% block bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block page_css %}
{% endblock page_css %}
<html>

<head>
<!-- CSS, meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale-1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>E-CRAB Web | Ensembl Chromosome Region Annotator for Bioinformatics</title>
</head>
<body>
<!-- Menu-->
<header>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
<div class="navbar-header">
    <button class="navbar-toggle collapsed" data-target=".navbar-collapse" data-toggle="collapse" type="button">
        <span class="sr-only">
          Toggle navigation
        </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
        <div class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
        <ul class="nav navbar-nav">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'help' %}">Help</a></li>
              <li><a href="{% url 'retrieve' %}">Retrieve results</a></li>
        </ul>
        </div>
    </div>
</nav>
</header>
<!--end Menu -->

{% block content %}

{% endblock %}
<!-- Footer -->
      <!-- MENDATORY JAVASCRIPT FILES (REQUIRED ON ALL PAGES) -->
      <script >
      	var ROOT_URL = "{% url 'home' %}";
      </script>
      <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      {% block javascripts %}
      {% endblock %}

</body>
</html>

