{% extends "base.html" %}
{% load staticfiles %}

{% block page_css %}
    <link rel="stylesheet" href="{% static "css/custom_help.css" %}">
{% endblock page_css %}

{% block content %}
    <div class="page-header container">
        <img src="{% static "images/50_crab.png" %}" alt="logo" style="float:left">
        <h1 style="padding-left:75px;">E-CRAB manual</h1>
    </div>
    <div class="container styling">
        <h2>What is E-CRAB</h2>
            <p>Ensembl Chromosome Region Annotator [for] Bioinformatics in short E-CRAB is web service which task is to annotate regions of genomic DNA provided by user.</p>
        <h2>Query parameters</h2>
            <p>E-CRAB aims to be as easy to use as possible, due to that query submission is simplified and whole process needs only few clicks. There are seven steps in total (three required and four optional).</p>
            <h3>Step one</h3>
                <p>Use list <strong>Database</strong> to choose Ensembl version. There are 5 databases available: main Ensembl, Metazoa, Fungi, Plants and Protists</p>
            <h3>Step two</h3>
                <p>Use list <strong>Organism</strong> to choose organism from which your data originates.</p>
            <h3>Step three</h3>
                <p>Use text field labeled <strong>Data to annotate</strong> to provide data to annotation in BED format or use widget to upload file directly form your HDD. Now you can hit <i>Submit Query</i> button to start analysis or go through optional steps.</p>
            <h3>Step four (Optional)</h3>
                <p>Choose field separator used to separate columns in data.</p>
                <ul>
                    <li>Tabulation (\t) or space (), default - any whitespace character will be treated as column separator</li>
                    <li>Tabulation (\t)</li>
                    <li>Space ( )</li>
                    <li>Comma (,)</li>
                    <li>Semicolon (;)</li>
                </ul>
            <h3>Step five (Optional)</h3>
                <p>
                    By default input data should be in BED format. You can choose option <strong>Custom</strong> to provide data in any tab separated file. Please note that when you choose <strong>Custom</strong> you will be required to specify numbers of columns where data required for algorithm is located.
                </p>
            <h3>Step six (Optional)</h3>
                <p>Choose additional parameters which affect searching of overlapping genes or provide additional information about found genes. Available options:
                <ul>
                    <li>Strand specific</li>
                        <p>Match regions and genes which are on the same strand of DNA.</p>
                    <li>Exons</li>
                        <p>Check if provided region overlaps one of gene's exons or lies on intron.</p>
                    <li>Ontology</li>
                        <p>Provide set of Gene Ontology terms associated with gene.</p>
                </ul>
            </p>
            <h3>Step seven (Optional)</h3>
                <p>Enter your e-mail to get message with link to results.</p>
        <h2>Input data</h2>
            <p>When pasting data into <strong>Data to annotate</strong> text field or uploading a file remember that it has to be in BED file format. Uploading file in format other than BED will result in error. <strong>IMPORTANT</strong> Please ensure that chromosome names in input data are consistent with Ensembl format.</p>
        <h2>Results presentation</h2>
            <h3>Web page representation</h3>
                <p>E-CRAB presents annotated data using table where each field is in it's own column.
                First X columns contain splited line of data provided by user and next ten annotation generated by algorithm. Columns order:
                    <ul>
                        <li>Chromosome Name</li>
                            <p>Name of chromosome on which gene is located.</p>
                        <li>Ensembl Gene ID</li>
                            <p>Unique ID of gene in Ensembl database.</p>
                        <li>Associated Gene Name</li>
                            <p>Unique identifier which allows to find gene in other databases(eg. UniProt).</p>
                        <li>Gene start (bp)</li>
                            <p>Number representing where each gene starts.</p>
                        <li>Gene End (bp)</li>
                            <p>Number representing where each gene ends.</p>
                        <li>Strand</li>
                            <p>Information about strand on which gene is located. 1 for "forward" strand(+) and -1 for "reverse" strand(-).</p>
                        <li>Gene Biotype</li>
                            <p>A gene or transcript classification.</p>
                        <li>Description</li>
                            <p>Aditional information about gene.</p>
                        <li>Gene Ontology</li>
                            <p>List of GO Accession Terms associated with gene.</p>
                        <li>Position</li>
                            <p>Information whether region provided by user overlaps with gene's exon.</p>
                    </ul>
                </p>
                <p>If user specified <strong>Custom</strong> as file format then only columns containing relevant data will be at the beginning (left side) of table (Chromosome, Start, End, Strand),
                remaining data will be placed at the end (right side) of table.</p>
            <h3>Empty values</h3>
                <p>All empty values are represented by '-'.</p>
            <h3>Intergenic regions</h3>
                <p>If E-CRAB algorithm doesn't find gene which region overlaps all it's parameters in annotation section are filled with '-' and Gene Biotype field is set as 'intergenic'.</p>
            <h3>Filtering results</h3>
                <p>Search field located under Download menu allows for filtering results. It is worth mentioning that search takes place over all columns. E.g. inputting 'protein intron' in search field will present results in which both words are present in any column</p>
                <p>Columns order can be changed using 'drag-and-drop'.</p>
                <p><strong>Column visibility</strong> button provide mechanism to hide/show selected columns. Use <strong>Show all</strong> button to turn on visibility for all columns.</p>
                <p>Clicking on column name or arrows at the right side of it will sort results by that column on ascending or descending order.</p>
            <h3>Advanced filtering</h3>
            <p>Advanced filtering provides set of options to search through data inside table.
                Main difference from Search field is that <strong>Advanced filter</strong> performs search on specified field or set of them.</p>
            <p>Search is performed hierarchically from top to bottom and each row further narrows data set which is then displayed in table.</p>
            <p>To apply search query to table use <strong>Apply filter</strong> button.</p>
            <p>To reset all filters click button <strong>Reset filter</strong>.</p>
            <h3>Download results and file format</h3>
                <p>You can download results from server on your HDD by using <strong>Download</strong> dropdown menu.
                File containing results is build using principles of BED format, columns separated by tabulation ('\t'). Single line in file consists of following columns: first n columns contains user provided data which algorithm annotated and then there are ten columns with annotation. </p>
                <p>You can select to download file in which every result is in single line, using <strong>Download merged</strong> to download file where multiple hits are joined together in single line or using <strong>Download filtered</strong> to download data which were sorted or to which search was applied.</p>
                <p>Basic structure of such file is the same as single results file but hits are joined using "|" and columns are separated by tabulation ('\t'). E.g.</p>
                <h4>First hit results</h4>
                <p>21   ENSG00000187172 BAGE2    10413477   10516431</p>
                <h4>Second hit results</h4>
                <p>21    ENSG00000273840 AL078471.5    10482738   10605716</p>
                <h4>Merged hits</h4>
                <p>21|21    ENSG00000187172|ENSG00000273840 BAGE2|AL078471.5    10413477|10482738   10516431|10605716</p>
                <h3>Data storage time</h3>
                <p>Annotated data is stored in server's database for 7 days after that time it will be deleted.</p>
            <h3>Data access</h3>
                <p>Access annotated regions in three ways:</p>
                <ol>
                    <li>Link provided in e-mail.</li>
                    <li>Retrieve results form</li>
                    <li>Bookmark of results page.</li>
                </ol>
                <h4>Retrieve results form</h4>
                <p>To retrieve results using dedicated form you need to know job ID which was specified in header of results page.</p>
    </div>
{% endblock %}
