{% extends "base.html" %}
{% load staticfiles %}

{% block page_css %}
    <link rel="stylesheet" href="{% static "plugins/touchspin/dist/jquery.bootstrap-touchspin.css" %}">
    <link rel="stylesheet" href="{% static "css/custom_home.css" %}"/>
{% endblock page_css %}

{% block content %}
    <div class="page-header container">
        <img src="{% static "images/crab.png" %}" alt="logo" style="float:left">
        <h1 style="font-size:4em;padding-left:140px;">E-CRAB</h1>
        <p class="container styling">Welcome to Ensembl Chromosome Region Annotator for Bioinformatics (E-CRAB). <br>E-CRAB uses data from current Ensembl Genes database to provide data for annotation process. </p>
    </div>
    <form id="query_form" class="form-horizontal" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
    {{ form.timestamp }}
    <div id="errors">
       {% if form.errors and not form.data.errors %}
            <div class="alert alert-danger">
                    {% for key, error in errors.items %}
                        <p>{{ error|striptags }}</p>
                    {% endfor %}
            </div>
        {% endif %}
    </div>
        <div class="form-body container">
        <!--Database-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="{{ form.id_database }}">Database</label>
                <div class="col-md-8" id="database">
                    {{ form.database }}
                </div>
            </div>
        <!--end Database-->
        <!--Organism-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="{{ form.id_organism }}">Organism
                    <span class="required" aria-required="true">*</span>
                </label>
                <div class="col-md-8" id='organism'>
                    <select id="id_organism" name="organism" class="form-control">
                        {% for organism in organisms %}
                            {% for key, value in organism.items %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3"></div>
                <p class="col-md-8">If your data is in defferent version of genome assembly use <a href="http://www.ensembl.org/Homo_sapiens/Tools/AssemblyConverter" target="_blank">Ensembl Assembly Converter</a>.</p>
            </div>
        <!--end Organism-->

        <!-- Data -->
            <div class="form-group">
                <label class="col-md-3 control-label" for="{{ form.id_data }}">Data to annotate
                    <span class="required" aria-required="true">*</span>
                </label>
                <div class="col-md-8">
                    {{ form.data }}
                    {{ form.file }}
                </div>
            </div>
        <!-- end Data -->
        <!-- Column separator -->
             <div class="form-group">
                <label class="col-md-3 control-label" for="{{ form.id_separator }}">Column Separator</label>
                <div class="col-md-8">
                    {{ form.separator }}
                </div>
                 <p></p>
             </div>
        <!-- end Column separator -->
        <!-- Search options -->
            <div class="form-group">
                <label class="col-md-3 control-label">Additional parameters</label>
                <div class="col-md-8 ">
                    <div class="col-md-4">
                        <label for="{{ form.id_strand }}" class="checkbox-inline test">{{ form.strand }}Strand specific</label>
                    </div>

                    <div class="col-md-4">
                        <label for="{{ form.id_exons }}" class="checkbox-inline">{{ form.exons }}Exons</label>
                    </div>

                    <div class="col-md-4">
                        <label for="{{ form.id_ontology }}" class="checkbox-inline">{{ form.ontology }}Ontology</label>
                    </div>
                </div>
            </div>
        <!-- end Search options -->

        <!-- File format -->
        <div class="form-group">
            <label class="col-md-3 control-label">File format</label>
            <div class="col-md-8">
                <div class="col-md-1">
                    <label for="{{ form.id_bed }}" class="checkbox-inline">{{ form.bed }}BED</label>
                </div>
                <div class="col-md-1">
                    <label for="{{ form.id_custom }}" class="checkbox-inline">{{ form.custom }}Custom</label>
                </div>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-8 user-format" style="display:none;">
                <label for="form.id_c_chromosome" class="control-label col-md-3">
                    <div class="col-md-6">
                        Chrom
                    </div>
                    {{ form.c_chromosome }}
                </label>
                <label for="form.id_c_start" class="control-label col-md-3">
                    <div class="col-md-6">
                        Start
                    </div>
                    {{ form.c_start }}
                </label>
                <label for="form.id_c_end" class="control-label col-md-3">
                    <div class="col-md-6">
                        End
                    </div>
                    {{ form.c_end }}
                </label>
                <label for="form.id_c_strand" class="control-label col-md-3">
                    <div class="col-md-6">
                        Strand
                    </div>
                    {{ form.c_strand }}
                </label>
                <p>Please choose correct columns where apropriate data is located in your file. Inputed numbers should be 1 based.</p>
            </div>
        </div>
        <!-- end File format -->

        <!-- Email -->
            <div class="form-group">
                <label class="col-md-3 control-label" for="{{ form.id_email }}">E-mail</label>
                <div class="col-md-8">
                    {{ form.email}}
                </div>
            </div>
        <!-- end Email -->

        <!-- Submit -->
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-primary">Submit Query</button>
                        <button type="button" id="example-btn" class="btn btn-success">Example</button>
                        <button type="button" id="clear" class="btn btn-warning">Clear form</button>
                    </div>
                </div>
            </div>
        <!-- end Submit -->
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script src="{% static "plugins/touchspin/dist/jquery.bootstrap-touchspin.js" %}"></script>
    <script src="{% static "js/home.js" %}"></script>
    <script>
        var runAjax = function(toSelect){
        $.ajax ({
            type: "GET",
            url: ROOT_URL + 'default/get_orgs/',
            dataType: "json",
            data: {
                db: document.getElementById('id_database').options[document.getElementById('id_database').selectedIndex].value,
            },
            beforeSend: function() {
                $('.ajaxContent').html('Loading organisms');
            },
            complete: function() {
            },
            success: function(json){
                document.getElementById('id_organism').options.length = 0;
                var select = document.getElementById("id_organism");
                for(var i=0; i<json.org_list.length;i++){
                    for(var key in json.org_list[i]){
                        var el = document.createElement("option");
                        el.textContent=json.org_list[i][key];
                        el.value=key;
                        select.appendChild(el);
                    }
                }
                if (toSelect) {
                  $('#id_organism').val(toSelect);
                }
                $('#id_organism').prop("disabled", false);
            }
          });
        };
        $('#clear').click(function(){
          $('#id_database').val('main');
          $('#id_organism').prop("disabled", true);
          runAjax(false);
        });
        $('#example-btn').click(function(){
          $('#id_database').val('main');
          $('#id_organism').prop("disabled", true);
          runAjax('homo_sapiens');
        });
        $('#id_database').on('change', function() {
          $('#id_organism').prop("disabled", true);
          runAjax(false);
        });
    </script>
{% endblock %}
