{% extends "base.html" %}
{% load staticfiles %}


{% block page_css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.10.13/b-1.2.4/b-colvis-1.2.4/cr-1.3.2/rr-1.2.0/datatables.min.css"/>
<link rel="stylesheet" href="{% static "css/custom_results.css" %}">
<link rel="stylesheet" href="{% static "css/loader.css" %}">
{% endblock page_css %}
{% block content %}
<div class="borders pageheader">
        <img id="logo" src="{% static "images/50_crab.png" %}" alt="logo" style="float:left">
        <h1 style="width:90%; padding-left: 10px;">Results for E-CRAB job ID: {{ token }}</h1>
<div class="btn-group download">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Download options
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li>
        <a title="Download full annotation." href="{% url 'download' %}?token={{ token }}">Download</a>
    </li>
    <li>
        <a title="Download merged results for multiple hits." href="{% url 'download_merged' %}?token={{ token }}">Download merged</a>
    </li>
    <li><a title="Download data after filtering/searching." id="filter_download" href="">Download filtered</a></li>{% csrf_token %}
  </ul>
</div>
</div>
<input id="counter" type="hidden" value="{{ counter }}" />
<input id="processed_lines" type="hidden" value="0" />
<input id="status" type="hidden" value="{{ status }}" />
<input id="token" type="hidden" value="{{ token }}"/>
<div class="progress">
<div class="loader">
  <div class="side"></div>
  <div class="side"></div>
  <div class="side"></div>
  <div class="side"></div>
  <div class="side"></div>
  <div class="side"></div>
  <div class="side"></div>
  <div class="side"></div>
</div>
<div class="clock">
    <span id="minutes">00</span>:<span id="seconds">00</span>
</div>
</div>
<div class="unknown_genes alert alert-warning"></div>
<div class="adv_search"></div>
<hr/>
<div class="ajaxContent borders"></div>

{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.10.13/b-1.2.4/b-colvis-1.2.4/cr-1.3.2/rr-1.2.0/datatables.min.js"></script>
<script src="{% static "js/results.js" %}" type="text/javascript"></script>

<form id="fd_send" action="{% url 'download_filtered' %}" method="POST" style="display:none">{% csrf_token %}
<textarea name="filtered_data" id="filtered_data" cols="200" rows="10"></textarea>
<input name="job_id" type="hidden" value="{{ token }}"/>
</form>

{% endblock %}