{% extends "base.html" %}
{% load staticfiles %}

{% block page_css %}
    <link rel="stylesheet" href="{% static "css/custom_retrieve.css" %}">
{% endblock page_css %}

{% block content %}
    <div class="page-header container">
        <img src="{% static "images/50_crab.png" %}" alt="logo" style="float:left">
        <h1 style="padding-left:80px;">Retrieve E-CRAB results.</h1>
        <p class="container styling" style="padding-left: 80px;"> Please input job ID and hit Submit.</p>
    </div>
<form class="form-horizontal container"  method="post" action="">{% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-danger">
            {% for key, error in errors.items %}
                <p>{{ error|striptags }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="form-body">
        <div class="form-group">
            <label class="control-label col-md-1" for="{{ form.id_job_id }}">
                Job Id:
            </label>
            <div>
                {{ form.job_id }}
            </div>
        </div>
        <!-- Submit -->
        <div class="form-actions">
            <div class="row">
                <div style="padding-left: 30px;">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <!-- end Submit -->
    </div>
</form>
{% endblock %}
